<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ProdSettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="StagingSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <ProdSettings>
    <add key="Installer" value="https://wcdownloadercdn.lavasoft.com/13.0.0.1080/WCInstaller.exe"/>
    <add key="WebProtectionZip" value="https://rt.webcompanion.com/notifications/download/rt/dci/latest/Webprotection.zip"/>
    <add key="InstallerZip" value="http://wcdownloadercdn.lavasoft.com/13.0.0.1080/WebCompanion-13.0.0.1080-prod.zip"/>
    <add key="WebInstallerZip" value="http://wcdownloadercdn.lavasoft.com/13.0.0.1080/webinstaller-13.0.0.1080-prod.zip"/>
  </ProdSettings>
  <StagingSettings>
    <add key="Installer" value="https://wcdownloader-qa.lavasoft.com/13.0.0.1080/WCInstaller.exe"/>
    <add key="WebProtectionZip" value="https://staging-webcompanion.lavasoft.net/dci/4.0.0.14/Webprotection.zip"/>
    <add key="InstallerZip" value="https://wcdownloader-qa.lavasoft.com/13.0.0.1080/WebCompanion-13.0.0.1080-internal.zip"/>
    <add key="WebInstallerZip" value="https://wcdownloader-qa.lavasoft.com/13.0.0.1080/webinstaller-13.0.0.1080-internal.zip"/>
  </StagingSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WebCompanionInstaller.Service_References.UpdateService">
        <endpoint address="" binding="basicHttpBinding" contract="WebCompanionInstaller.Service_References.IUpdateService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WebCompanionInstaller.Service_References/UpdateService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="InstallServiceSoap" />
        <binding name="UpdateServiceSoap" />
        <binding name="ComponentsServiceSoap" />
        <binding name="ComponentsServiceSoap1" />
        <binding name="ComponentsServiceSoap2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wc-update-service.lavasoft.com/update.asmx"
        binding="basicHttpBinding" bindingConfiguration="UpdateServiceSoap"
        contract="UpdateService.UpdateServiceSoap" name="UpdateServiceSoap" />
      <endpoint address="http://wc-update-service.lavasoft.com/components.asmx"
        binding="basicHttpBinding" bindingConfiguration="ComponentsServiceSoap"
        contract="UpdateComponents.ComponentsServiceSoap" name="ComponentsServiceSoap" />
      <endpoint address="http://wc-update-service.lavasoft.com/components.asmx"
        binding="basicHttpBinding" bindingConfiguration="ComponentsServiceSoap1"
        contract="UpdateService.ComponentsServiceSoap" name="ComponentsServiceSoap1" />
      <endpoint address="http://wc-update-service.lavasoft.com/components.asmx"
        binding="basicHttpBinding" bindingConfiguration="ComponentsServiceSoap2"
        contract="UpdateComponents.ComponentsServiceSoap" name="ComponentsServiceSoap2" />
    </client>
  </system.serviceModel>
</configuration>
